@import '../../bower_components/bootstrap/less/bootstrap';

html, body{
	height: 100%;
}

p.h1 {
	font-family: Arial,sans-serif;
	font-size: 80px;
	color:#8d8d8d;
}

.lead{
	color:#8d8d8d;
}


.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  color:#eee;
  overflow:hidden;
}

.slabLight{
	background-color:##dddddd;
}

.slabDark{
	background-color:#474747;
}

.fieldbox{
	padding-right: -15px;
	padding-left: -15px;
	position: relative;
	width: 50%;
}

.v-center {
  margin-top:20%;
}

.v-secondary{
	margin-top:10%;
}

.topSpacing{
	margin-top:4px;	
}

.boldTitle{
	font-weight:bold;
}

.zipButton, .zipButton:hover{
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 14px;
	padding-bottom: 14px;
	background-color:#da5024; 
	border-color:#da5024; 
}

.center-namefield{
	// width: 340px;
	text-align:center;
	margin-right: 0 auto;
	margin-left: 0 auto;
	// margin-r: 0 auto;/
}

.nextButton, .nextButton:hover{
	padding: 14px;
	background-color:#da5024; 
	border-color:#da5024; 
}

a, a:hover{
	text-decoration:underline;
	color:#F8F8FF;
}