@import '../../bower_components/bootstrap/less/bootstrap';

#jumbotron-header{
  background-color: #CBD7DC;
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.14285714;
  color: inherit;
  background-color: #eeeeee;
}