doctype 5
html(lang="en", ng-app="Application")
  head
    title android builder
    link(rel="stylesheet", href="/styles/styles.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", type="text/css")  
    script(src="/components/jquery/dist/jquery.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/components/angular/angular.js")
    script(src="/components/angular-route/angular-route.js")
    script(src="/../scripts/app.js")
    script(src="/../scripts/buildController.js")
    block scripts
  body(ng-controller="BuildCtrl")
    .container-full.slabLight
      .row
        .col-lg-12.text-center.v-center
          p.h1 BOKA
          p.lead Boilerplate Of Kinvey Applications
      .row
        .col-lg-6.col-lg-offset-3.v-secondary
          .btn.btn-primary.pull-right Try it
    .container-full.slabMiddle
      .row
        .col-lg-12.text-center.v-center
          p.lead every app needs a name
      .row
        .col-lg-12.text-center
          .div.input-group.input-group-lg.center-namefield
            input.form-control(type="text" placeholder="Name your app", ng-model="appName")
      .row
        .col-lg-6.col-lg-offset-3.v-secondary
          .btn.btn-primary.pull-right Next
    .container-full.slabDark
      .row
        .col-lg-4.col-lg-offset-4.text-center.v-center
          p.lead use the Kinvey cloud!
          .div.center-namefield
            input.form-control(type="text" placeholder="App Key", ng-model="appKey")
          .div.center-namefield
            input.form-control(type="text" placeholder="App Secret", ng-model="appSecret")
          a.v-secondary.lead(href="http://console.kinvey.com") (or sign up at Kinvey here for your credentials)
      .row
        .col-lg-6.col-lg-offset-3.v-secondary
          .btn.btn-primary.pull-right Next
    .container-full.slabMiddle
      .row
        .col-lg-4.col-lg-offset-4.text-center.v-center
          .div.center-namefield
            input.form-control(type="text" placeholder="Collection Name", ng-model="collectionName")
          .div.center-namefield
            input.form-control(type="text" placeholder="Entity Name", ng-model="entityName")
          .div.center-namefield
            input.form-control(type="text" placeholder="Type", ng-model="currentType")
          .div.center-namefield
            input.form-control(type="text" placeholder="Field name", ng-model="currentField")
      .row
        .col-lg-6.col-lg-offset-3.v-secondary
          .btn.btn-primary.pull-right(ng-click="addField()") One more
    .container-full.slabLight
      .row
        .col-lg-12.text-center.v-center
          p.lead that's it!
      .row
        .col-lg-6.col-lg-offset-3.v-secondary
          .btn.btn-primary.pull-right(ng-click="buildIt()") Zip