doctype 5
html(lang="en", ng-app="Application")
  head
    title android builder
    link(rel="stylesheet", href="/styles/styles.css")
    script(src="/components/jquery/dist/jquery.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/components/angular/angular.js")
    script(src="/components/angular-route/angular-route.js")
    script(src="/../scripts/app.js")
    script(src="/../scripts/buildController.js")
    block scripts
  body(ng-controller="BuildCtrl as builder")
    .container
      .row
        .col-sm-offset-2.col-sm-8
          .jumbotron
            .h2 android builder
      .row
        .col-sm-offset-3.col-sm-6
          .div.input-group.input-group-lg
            input.form-control(type="text" placeholder="Name your app")
      .row
          .col-sm-offset-3.col-sm-6
            .btn-primary.btn.pull-right(ng-click="buildIt()") zip it

    