doctype 5
html(lang="en", ng-app="Application")
  head
    title android builder
    link(rel="stylesheet", href="/styles/styles.css")
    script(src="/components/jquery/dist/jquery.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/components/angular/angular.js")
    script(src="/components/angular-route/angular-route.js")
    script(src="/../scripts/app.js")
    block scripts
  body
    .container
      .row
        .col-sm-offset-2.col-sm-8
          .jumbotron
            .h2 android builder
      .row
        .col-sm-offset-2.col-sm-8
          .div.input-group.input-group-lg
            input.form-control(type="text" placeholder="Name your app")
          //- .form-group.col-sm-offset-2.col-sm-6
          //-     input.form-control(type="search", ng-model="query", placeholder="Application Name")
          //-   input.btn-primary.btn(type='submit', value='Search')
    //- .jumbotron
    //-   .h1 android
    //- .container
    //-   .row
    //-     .col-sm-6
    //-       .h1 android builder
    //-   .row

      


    //-1.page-header
      //-1.h1 android builder

    //- .container
    //-   .row
    //-     .col-sm-8
    //-       .div WHAT THE FUCK
    //-     .col-sm-2
    //-       .div HI
    